@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700&display=swap');

/*logo for footer*/

.logo {
    width: 3rem;
    height: 3rem;
    border: 1rem;
}

/*body styling*/

body {
    background-color: rgb(255, 255, 255);
}

/*Navigation section*/

.topnav {
  background-color: rgba(2, 1, 1, 0.904);
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: rgb(250, 255, 255);
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  font-size: 2rem;
}

/* Add an active class to highlight the current page */

.active {
  background-color: rgb(2, 194, 62);
  color: rgb(255, 255, 255);
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */

.dropdown {
  float: left;
  overflow: hidden;
  font-style: italic;
}

/* Style the dropdown button to fit inside the topnav */

.dropdown .dropbtn {
  font-size: 2rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 2rem;
  text-align: center;
  background-color: inherit;
}

/* Style the dropdown content*/

.dropdown-content {
  display: none;
  position: relative;
  background-color: rgb(255, 255, 255);
  min-width: 20rem;
  z-index: 99;
}

.dropdown-content a {
  float: none;
  color: rgb(2, 1, 1, 0.904);
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(166, 171, 167);
  color: rgb(255, 255, 255);
}

.dropdown-content a:hover {
  background-color: rgb(2, 194, 62);
  color: rgba(2, 1, 1, 0.904);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*header*/

.banner {
    width: 100%;
	height: 30rem;
	background: url("https://c0.wallpaperflare.com/preview/461/570/413/exmoor-pony-pony-horse-exmoor.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

/*cheddar banner*/

.cheddar-banner {
    width: 100%;
	height: 30rem;
	background: url("https://images.pexels.com/photos/3969285/pexels-photo-3969285.jpeg?cs=srgb&dl=cheddar-gorge-3969285.jpg&fm=jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.cheddar-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*blagdon banner*/

.blagdon-banner {
    width: 100%;
	height: 30rem;
	background: url("https://upload.wikimedia.org/wikipedia/commons/b/b7/Blagdonlake2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.blagdon-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*staple banner*/

.staple-banner {
    width: 100%;
	height: 30rem;
	background: url("https://upload.wikimedia.org/wikipedia/commons/7/79/The_Malverns_from_Cleeve_Hill_%284966%29.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.staple-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*exmoor banner*/

.exmoor-banner {
    width: 100%;
	height: 30rem;
	background: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Exmoor_National_Park.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.exmoor-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/*coastal banner*/

.coastal-banner {
    width: 100%;
	height: 30rem;
	background: url("https://live.staticflickr.com/7433/13432939784_6087d5241b_b.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.coastal-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*banner text*/

h6 {
    text-align: center;
    color: rgb(2, 194, 62);
    font-style: italic;
    font-size: 1rem;
}

/*Introduction section*/

.introduction h2 {
    text-align: center;
    padding-top: 5rem;
    color: rgb(2, 194, 62);
}

.introduction p {
    color: rgba(2, 1, 1, 0.904);
    font-style: italic;
}

/*Gallery introduction*/

.slide-intro h2 {
    color: rgb(2, 194, 62);
}

.slide-intro p {
    font-style: italic;
}

/*slideshow*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */

.slideshow-container {
  max-width: 62.5rem;
  position: relative;
  margin: auto;
}

/* Caption text */

.text {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 1rem 1rem;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6) */
.numbertext {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 1rem 1rem;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 1rem;
  width: 1rem;
  margin: 0 0.13rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10rem;
}

.active {
  background-color: rgb(166, 171, 167);
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 1rem) {
  .text {font-size: 1rem}
}

/*Maps section*/

/*homepage
.map {
    width: 50rem;
    height: auto;
}
/*cheddar gorge
.cheddar-map {
    padding-top: 10rem;
    margin-top: 10rem;
}
.cheddar-map {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*bottom page nav*/

.bottom-nav {
  background-color: rgba(2, 1, 1, 0.904);
  overflow: hidden;
  margin-top: 10rem;
  text-align: center;
}

/* Style the links inside the navigation bar */

.bottom-nav a {
  float: left;
  display: block;
  color: rgb(250, 255, 255);
  text-align: right;
  padding: 2rem;
  text-decoration: none;
  font-size: 2rem;
}

/* Add an active class to highlight the current page */

.active {
  background-color: rgb(2, 194, 62);
  color: rgb(255, 255, 255);
}

/* Hide link that should open and close the dropdown on small screens*/

.bottom-nav .icon {
  display: none;
}

/*Dropdown container*/

.bottom-nav .dropdown {
    text-align: center;
    overflow: hidden;
    font-style: italic;
}

/*Style the dropdown button to fit*/

.bottom-nav .dropdown .dropbtn {
  font-size: 2rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 2rem;
  background-color: inherit;
}

/* Style dropdown content*/

.bottom-nav .dropdown-content {
  display: none;
  position: relative;
  background-color: rgb(255, 255, 255);
  min-width: 20rem;
  z-index: 99;
}

.bottom-nav .dropdown-content a {
  float: none;
  color: rgb(2, 1, 1, 0.904);
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;
  font-style: italic;
}

.bottom-nav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(166, 171, 167);
  color: rgb(255, 255, 255);
}

.bottom-nav .dropdown-content a:hover {
  background-color: rgb(2, 194, 62);
  color: rgba(2, 1, 1, 0.904);
}

.bottom-nav .dropdown:hover .dropdown-content {
  display: block;
}