@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700&display=swap');

/*body*/

body {
    background-color: rgba(2, 1, 1, 0.904)
}

/*Navigation section*/

.logo {
    height: 3rem;
    width: 3rem;
    margin-right: 5rem;
    border-radius: 1rem;
}

.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.navbar a {
  color: rgba(50, 168, 88);
  text-decoration: none;
}

.navbar a {
    margin-left: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem; 
}

.navbar a:hover {
    background-color: rgb(217, 252, 228);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 5rem;
}

.trail {
    font-size: 1.2rem;
    font-style: italic;
}

/*header section*/

.banner { 
    width: 100%;
	height: 30rem;
	background: url("https://c0.wallpaperflare.com/preview/461/570/413/exmoor-pony-pony-horse-exmoor.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

#banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

.banner h6 {
    color: rgba(241, 255, 41, 0.904);
    text-emphasis: initial;
    line-height: 22rem;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*cheddar banner*/

.cheddar-banner {
    width: 100%;
	height: 30rem;
	background: url("https://images.pexels.com/photos/3969285/pexels-photo-3969285.jpeg?cs=srgb&dl=cheddar-gorge-3969285.jpg&fm=jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.cheddar-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

#banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*blagdon banner*/

.blagdon-banner {
    width: 100%;
	height: 30rem;
	background: url("https://upload.wikimedia.org/wikipedia/commons/b/b7/Blagdonlake2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.blagdon-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

#banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*cleeve banner*/

.cleeve-banner {
    width: 100%;
	height: 30rem;
	background: url("https://upload.wikimedia.org/wikipedia/commons/7/79/The_Malverns_from_Cleeve_Hill_%284966%29.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.cleeve-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*weston banner*/

.weston-banner {
    width: 100%;
	height: 30rem;
	background: url("https://upload.wikimedia.org/wikipedia/commons/2/21/Stokeleigh_Camp_in_Leigh_Woods.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

#weston-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

.banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/*coastal banner*/

.coastal-banner {
    width: 100%;
	height: 30rem;
	background: url("https://live.staticflickr.com/7433/13432939784_6087d5241b_b.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

.coastal-banner {
    animation-name: trail-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

#banner-outer {
    width: 100%;
    height: 30rem;
    overflow:hidden;
    position: relative;
}

@keyframes trail-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/*Introduction section*/

#introduction {
    text-align: center;
    padding-top: 5rem;
}

#introduction {
    color: rgba(241, 255, 41, 0.904);
}

/*slide show section*/

.slide .card {
    width: 20rem;
    height: auto;
    text-align: center;
}

.slide {
    background-color: rgb(241, 255, 41, 0.904)
}

/*Maps section*/

/*homepage*/

.map {
    width: 50rem;
    height: auto;
}

/*cheddar gorge*/

.cheddar-map {
    padding-top: 10rem;
    margin-top: 10rem;
}

.cheddar-map {
    height: 100%;
    margin: 0;
    padding: 0;
}